@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Underdog&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Noto+Sans+TC:wght@100..900&family=Underdog&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Coral+Pixels&family=Noto+Sans+TC:wght@100..900&family=Underdog&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Coral+Pixels&family=Noto+Naskh+Arabic:wght@400..700&family=Noto+Sans+TC:wght@100..900&family=Underdog&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Codystar:wght@300;400&family=Coral+Pixels&family=Monoton&family=Noto+Naskh+Arabic:wght@400..700&family=Noto+Sans+TC:wght@100..900&family=Underdog&family=VT323&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  background-color: yellow;
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  background-color: blue;
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  background-color: white;
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/****************************************************************** My Stuff Starts *****************************************************************************/

.theELetter,.frontendELetter,.developerELetter,.developerETwoLetter,.developerEThreeLetter,.takeELetter,.gardeningELetter,.wantedELetter,
.improveELetter,.theirELetter,.becauseELetter,.becauseETwoLetter,.theyELetter
{
  font-size: 22px;
  font-weight: bold;
  color: yellow;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Shalimar', sans-serif;
}

  .theHLetter,.theyHLetter,.theirHLetter
  {
    font-size: 52px;
    font-weight: bold;
    color:rgb(234, 71, 255);
    text-decoration: underline;
    text-transform: lowercase;
    font-family: "Underdog", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .didDLetter, .didDTwoLetter,.frontendDLetter,.developerDLetter,.gardeningDLetter,.wantedDLetter
  {
    font-size: 52px;
    font-weight: bold;
    color:rgb(120, 71, 255);
    text-decoration: line-through;
    text-transform: lowercase;
    font-family: "Codystar", sans-serif;
    font-weight: 500;
    font-style: oblique;
  }

  .didILetter,.gardeningILetter,.improveILetter,.theirILetter,.skillsILetter
  {
    font-size: 20px;
    font-weight: 100;
    color:rgb(135, 255, 71);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Underdog", sans-serif;
    font-style: italic;
  }

  .theTLetter,.frontendTLetter,.takeTLetter,.theyTLetter,.wantedTLetter,.toTLetter,.theirTLetter,.rootTLetter
  {
    font-size: 30px;
    font-weight: 100;
    color:rgb(71, 234, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lucida Console", sans-serif;
    font-style: normal;
  }

  .frontendRLetter,.developerRLetter,.gardeningRLetter,.improveRLetter,.theirRLetter,.rootRLetter
  {
    font-size: 35px;
    font-weight: 900;
    color:rgb(255, 71, 71);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Times New Roman", sans-serif;
    font-style: italic;
  }

  .frontendOLetter,.developerOLetter,.toOLetter,.improveOLetter,.rootOLetter,.rootOTwoLetter
  {
    font-size: 45px;
    font-weight: 200;
    color:rgb(136, 130, 130);
    text-decoration: line-through;
    text-transform: lowercase;
    font-family: "monospace", sans-serif;
    font-style: normal; 
  }
  .developerPLetter,.upPLetter,.improvePLetter
  {
    font-size: 65px;
    font-weight: 200;
    color:rgb(122, 144, 3);
    text-decoration: underline;
    text-transform: capitalize;
    font-family: "serif", sans-serif;
    font-style: italic; 
  }

  .frontendNLetter,.gardeningNLetter,.gardeningNTwoLetter,.wantedNLetter,.frontendNTwoLetter
  {
    font-size: 55px;
    font-weight: 700;
    color:rgb(19, 3, 144);
    text-decoration: overline;
    text-transform: capitalize;
    font-family: "Codystar", sans-serif;
    font-style: oblique; 
  }

  .developerVLetter,.improveVLetter
  {
    font-size: 80px;
    font-weight: 700;
    color:rgb(249, 249, 252);
    text-decoration: none;
    text-transform: capitalize;
    font-family: "VT323", sans-serif;
    font-style: normal; 
  }

  .takeALetter,.gardeningALetter,.becauseALetter,.wantedALetter
  {
    font-size: 80px;
    font-weight: 700;
    color:rgb(249, 249, 252);
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Noto Naskh Arabic", sans-serif;
    font-style: normal; 
  }

  .takeKLetter,.skillsKLetter
  {
    font-size: 80px;
    font-weight: 700;
    color:rgb(249, 249, 252);
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Noto Naskh Arabic", sans-serif;
    font-style: normal; 
  }

  .gardeningGLetter,.gardeningGTwoLetter
  {
    font-size: 22px;
    font-weight: 700;
    color: blue;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Times New Roman", sans-serif;
    font-style: oblique; 
  }


  
    
  /* DID word */

.didDLetter { background-color: red;
}

.didILetter { background-color: yellow;
}

.didDTwoLetter { background-color: lightblue;
}

/* THE word */

.theTLetter { background-color: green;
}

.theHLetter { background-color: blue;
}

.theELetter { background-color: violet;
 
}


/* FRONT-END word */

.frontendFLetter 
{
  background-color: lightcoral;
    font-size: 45px;
    font-weight: 200;
    color:rgb(181, 71, 255);
    text-decoration: none;
    text-transform: lowercase;
    font-family: "Helvetica", sans-serif;
    font-style: normal;
}

.frontendRLetter { background-color: lightcyan;
}

.frontendOLetter { background-color: lightgoldenrodyellow
}

.frontendNLetter { background-color: lightgray;
}

.frontendTLetter { background-color: lightgreen;
}

.frontendELetter { background-color: lightgrey;
}

.frontendNTwoLetter { background-color: lightpink;
}

.frontendDLetter { background-color: lightsalmon;
}

/* DEVELOPER word */

.developerDLetter { background-color: lightseagreen;
}
.developerELetter { background-color: lightskyblue;
}
.developerVLetter { background-color: lightslategray;
}
.developerETwoLetter { background-color: lightsteelblue;
}
.developerLLetter { background-color: blue;
}
.developerOLetter { background-color: lime;
}
.developerPLetter { background-color: limegreen;
}
.developerEThreeLetter { background-color: linen;
}
.developerRLetter { background-color: lemonchiffon;
}

/* TAKE word */

.takeTLetter { background-color: orange;
}
.takeALetter { background-color: orangered;
}
.takeKLetter { background-color: orchid;
}
.takeELetter { background-color: rgb(120, 71, 255);
}

/* UP word */

.upULetter { background-color: rgb(122, 144, 3);
    font-size: 22px;
    font-weight: 700;
    color: blue;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Times New Roman", sans-serif;
    font-style: oblique;
}
.upPLetter { background-color: rgb(135, 255, 71);
}

/* GARDENING word */

.gardeningGLetter { background-color: rgb(136, 130, 130);
}
.gardeningALetter { background-color: rgb(181, 71, 255);
}
.gardeningRLetter { background-color: rgb(19, 3, 144);
}
.gardeningDLetter { background-color: rgb(234, 71, 255);
}
.gardeningELetter { background-color: rgb(249, 249, 252);
}
.gardeningNLetter { background-color: rgb(255, 71, 71);
}
.gardeningILetter { background-color: rgb(71, 234, 255);
}
.gardeningNTwoLetter { background-color: rgb(10, 220, 74);
}
.gardeningGTwoLetter { background-color: yellow;
}

/* BECAUSE word */

.becauseBLetter 
{ background-color: red;
   font-size: 30px;
   font-weight: 200;
   color: violet;
   text-decoration: underline;
   text-transform: capitalize;
   font-family: "Baloo 2", sans-serif;
   font-style: normal;  
}
.becauseELetter { background-color: blue;
}
.becauseCLetter {
   background-color: white;
   font-size: 55px;
   font-weight: 100;
   color:black;
   text-decoration: overline;
   text-transform: capitalize;
   font-family: "Monoton", sans-serif;
   font-style: italic;  
}
.becauseALetter
{ background-color: brown;

}
.becauseULetter
 { background-color: burlywood;
    font-size: 22px;
    font-weight: 700;
    color: blue;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Times New Roman", sans-serif;
    font-style: oblique;
}

.becauseSLetter
 { background-color: blueviolet;

 }
  .becauseCLetter {
    background-color: rgb(10, 220, 74);
    font-size: 40px;
    font-weight: 900;
    color:rgb(24, 116, 181);
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Monoton", sans-serif;
    font-style: normal;
}
.becauseETwoLetter { background-color: blanchedalmond;
}

/* THEY word */

.theyTLetter { background-color: royalblue;
}
.theyHLetter { background-color: yellow;
}
.theyELetter { background-color: hotpink;
}
.theyYLetter { background-color: darkolivegreen;
}

/* WANTED word */

.wantedWLetter { background-color: darkorange;
}
.wantedALetter { background-color: deepskyblue;
}
.wantedNLetter { background-color: darkred;
}
.wantedTLetter { background-color: dimgrey;
}
.wantedELetter { background-color: seagreen;
}
.wantedDLetter { background-color: snow;
}

/* TO word */

.toTLetter { background-color: red;
}
.toOLetter { background-color: yellow;
}

/* IMPROVE word */

.improveILetter { background-color: steelblue;
}
.improveMLetter {background-color: limegreen;
}
.improvePLetter {background-color: blue;
}
.improveRLetter { background-color: firebrick;
}
.improveOLetter { background-color: fuchsia;
}
.improveVLetter { background-color: cyan;
}
.improveELetter { background-color: goldenrod;
}

/* THEIR word */

.theirTLetter { background-color: red;
}
.theirHLetter { background-color: lightsteelblue;
}
.theirELetter { background-color: yellowgreen;
}
.theirILetter { background-color: blueviolet;
}
.theirRLetter { background-color: blue;
}

/* ROOT word */

.rootRLetter { background-color: aquamarine;
}
.rootOLetter { background-color: indianred;
}
.rootOTwoLetter { background-color: grey;
}
.rootTLetter { background-color: green;
}

/* SKILLS word */

.skillsSLetter { background-color: royalblue;
}
.skillsKLetter { background-color: rgb(234, 71, 255);
}
.skillsILetter { background-color: rosybrown;
}
.skillsLLetter { background-color: ghostwhite;
}
.skillsLTwoLetter { background-color: rgb(255, 71, 71);
}
.skillsSTwoLetter { background-color: rgb(10, 220, 74);
}

/* SYMBOLS */

.hyphen
{ background-color: yellow;

}
.exclamation-mark
{ background-color: blue;

}
.question-mark 
{ background-color: blueviolet;
  
}